#colophon {
    padding-top: 1em;
    background-color: $color__background-header;
}

footer > div a {
  color: $color__text-main;

  &:visited {
    color: $color__text-main;
  }

  &:hover,
	&:focus,
	&:active {
    color: $color__text-main;
    text-decoration: none;
  }
}

footer > div {
  background-color: $color__background-header;
}

.site-info .container .row .col-md-12 > div {
  text-align: center;
}

.site-info .container .row .col-md-12 > div > a {
  width: 23%;
}

.footer-container-logo {
  margin-bottom: 1em;
}

#footer-menu {
  list-style: none;
  display: inline-flex;
  font-size: .7em;
}

#footer-menu > ul {
  width: 75%;
  list-style: none;
}

#footer-menu li {
  float: left;
  padding-left: .5em;
  padding-right: .5em;
}

#footer-menu li a {
  display: block;
  color: $color__background-body;
  outline-color: $color__background-header;
}

#smedia {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

 #smedia a {
   color: $color__background-body;
 }

.smedia-icon-con {
  display: inline-block;
  margin:10px 4px 2px;
  width:38px;
  height: 45px;
  border-bottom: 8px solid;
  text-align: center;
  transition: 1s border-bottom;
}

#btm-instagram {
  border-bottom-color: #4c68d7;
}

#btm-facebook {
  border-bottom-color: #3B5998;
}

#btm-pinterest {
  border-bottom-color: #cb2027;
}

#btm-youtube {
  border-bottom-color: #ff0000;
}

.smedia-icon-con:hover {
  border-bottom: 2px solid;
}
