#about_us {
  background-color: $color_light_pink;
  padding-bottom: 2em;
}

#about_us .container-fluid {
  margin-bottom: 3em;
}

#about_us .col-md-6:first-child {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 100%, /* right bottom */
   0 3% /* left bottom */
 );
 margin-right: -1px;
 margin-top: -1px;
}

#about_us .col-md-6:nth-child(2) {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 3%, /* right bottom */
   0 100% /* left bottom */
 );
 margin-left: -1px;
 margin-top: -1px;
}

#about_us .col-md-6:first-child,
#about_us .col-md-6:nth-child(2) {
  background-color: $color_white;
  height: 70px;
}

#about_us .row {
  text-align: center;
}

#about_us h2 {
  margin-bottom: .4em;
  color: $color_black;
  font-family: $font__h__fatface;
  font-size: 3em;
}

#about_us h5 {
  color: $color_black;
  font-family: $font__h__fatface;
}

#about_us p {
  color: $color_black;
  font-size: 75%;
  margin-bottom: 3em;
}

/*#about_us a {
  color: $color_white;
  font-size: 180%;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: black;
  padding-top: .5em;
  padding-bottom: .3em;
  padding-left: .6em;
  padding-right: .6em;
  font-weight: 100;
}*/

#about_us div:nth-child(3) > .row {
  margin-top: 2em;
}

.owl-theme .owl-nav [class*=owl-] {
    color: $color__background-body;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

// this section will be removed when the pictures will be placed in the carousel
.owl-carousel .item {
    height: 15rem;
    background: #E4E2DF;
    padding: 1rem;
}
// End

.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    font-family: 'fontAwesome';
}

.owl-nav {
  display: inline-flex;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.owl-prev {
  text-align: left;
}

.owl-next {
  text-align: right;
}

.owl-prev,
.owl-next {
    width: 50%;
}

.owl-prev .fa,
.owl-next .fa {
  font-size: 3em;
}

.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {

		[class*='owl-'] {
			border-radius: 3px;

			&:hover {
				background: none;
				text-decoration: none;
			}
		}
	}
}
