
#feeling_artsy {
  margin-top: 2em;
  padding-bottom: 2em
}

#feeling_artsy .container-fluid .row:nth-child(2) {
  margin-top: 3em;
}

#feeling_artsy .container-fluid .row:nth-child(3) {
  margin-top: 6em;
}

#feeling_artsy {

  h2 {
    margin-bottom: .4em;
    color: $color_black;
    font-family: $font__h__fatface;
    font-size: 3em;
  }

  h5 {
  color: $color_black;
  font-family: $font__h__fatface;
  }

  p {
    color: $color_black;
    font-size: 75%;
    margin-bottom: 3em;
  }

  h6{
    color: $color_black;
  }

  a, a:visited{
    color: $color_black;
  }

}


/*#feeling_artsy a {
  color: $color_white;
  font-size: 180%;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: black;
  padding-top: .5em;
  padding-bottom: .3em;
  padding-left: .6em;
  padding-right: .6em;
  font-weight: 100;
}*/

