
#keep_in_touch {
  margin-top: -2em;
  background-color: $color__light-gray;
  padding-bottom: 2em;
}

#keep_in_touch .container-fluid {
  margin-bottom: 3em;
}

#keep_in_touch .col-md-6:first-child {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 100%, /* right bottom */
   0 3% /* left bottom */
 );
 margin-right: -1px;
}

#keep_in_touch .col-md-6:nth-child(2) {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 3%, /* right bottom */
   0 100% /* left bottom */
 );
 margin-left: -1px;
}

#keep_in_touch .col-md-6:first-child,
#keep_in_touch .col-md-6:nth-child(2) {
  background-color: $color_light_pink;
  height: 70px;
}


#keep_in_touch .row {
  text-align: center;
}

#keep_in_touch h2 {
  margin-bottom: .7em;
  color: $color_white;
  font-family: $font__h__fatface;
  font-size: 3em;
}

#keep_in_touch h5 {
  color: $color_white;
  margin-bottom: 2em;
  font-family: $font__h__fatface;
}

#keep_in_touch form > div {
  display: inline-flex;
}

#keep_in_touch input {
  width: 600px;
  border-radius: 0;
  background-color: $color_light_pink;
  text-indent: 15px;
}

#keep_in_touch button {
  background-color: $color_black;
  color: $color_white;
  border-radius: 0;
  letter-spacing: 1px;
  font-weight: 100;
}
