
#new_and_noteworthy {
  background: $color__lighter-gray;
  margin-top: -8vw; /* push up to get rid of white space between clip of strip div */
  padding-top: 8vw; /*push content down bc strip section needs to overlap this div*/
}

#new_and_noteworthy .container-fluid {
  margin-bottom: 3em;
}

#new_and_noteworthy .col-md-6:first-child {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 100%, /* right bottom */
   0 3% /* left bottom */
 );
 margin-right: -1px;
 margin-top: -1px;
}

#new_and_noteworthy .col-md-6:nth-child(2) {
  clip-path: polygon(
   0 0, /* left top */
   100% 0, /* right top */
   100% 3%, /* right bottom */
   0 100% /* left bottom */
 );
 margin-left: -1px;
 margin-top: -1px;
}

#new_and_noteworthy .col-md-6:first-child,
#new_and_noteworthy .col-md-6:nth-child(2) {
  background-color: $color_black;
  height: 70px;
}

#new_and_noteworthy .row:first-child {
  text-align: center;
}

#new_and_noteworthy h2 {
  margin-bottom: 1em;
  color: $color_black;
  font-family: $font__h__fatface;
  font-size: 3em;
}

#new_and_noteworthy .container .row:nth-child(2) {
  /*margin-bottom: 6em;*/
}

#new_and_noteworthy .container .row:nth-child(3) {
  padding-top: 3em;
  padding-bottom: 3em;
}


#new_and_noteworthy .container .row:nth-child(2) .col-lg-4:nth-child(3) .text-left {
  margin-left: 1.7em;
}

#new_and_noteworthy .container .row:nth-child(2) .col-lg-4:nth-child(3) .text-right {
  margin-right: 1.6em;
}


/*#new_and_noteworthy a {
  color: $color_white;
  font-size: 180%;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: black;
  padding-top: .5em;
  padding-bottom: .3em;
  padding-left: .6em;
  padding-right: .6em;
  font-weight: 100;
}*/


.post-container{
  width: 20vw;
  margin-left: auto;
  margin-right: auto;

  a, a:visited{
    color: $color_black;
  }

  h6:first-child{
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $color_black;
    text-align: left;
  }

  p{
    margin-bottom: 0;
    font-family: $font__main;
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 1em;
  }

}

.post-image-container{
  @extend .post-container;

  position:relative;

  span{
    position: absolute;
    bottom: 0;
    right: 0;
    color: $color_white;
    text-transform: uppercase;
  }

  img{
    margin-left: auto;
    margin-right: auto;
  }

}

.post-container .text-right{
  margin-top: 1em;
  text-align:right;
}
