#strip-section{
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0, 50% 20%);
	position: relative;
    top: -4vw;
	height: 21vw;
	margin-top: -1px; /*removes white line between div and slant section*/
	background-color: $color_black;
	z-index: 2;
}

#strip-section{

	h4{
		color: $color_white;
		font-size: 1em;
		font-weight: bold;
	}

	p{
		color: $color_white;
		font-size: 0.8em;
		text-align: center;
	}
}

.strip-icons-container{
	width: 55vw;
	padding-top: 3.2vw;
    margin-left: auto;
    margin-right: auto;

    img{
    	max-width: 6vw;
    	margin-bottom: 0.8em;
    }

    div div {
    	text-align: center;
    }
}

.vertical-offset-1vw{
	margin-top: 1.6vw;
}