#top_slider_section{
	position: relative;
}

.slider-content{
	min-height: $height_slider;
	padding-top: 20vh;
}

.slider-button-container{
	width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    text-align: center;
}

.slider-bg{
	position: absolute;
    z-index: -1;
    left: 0;
    min-height: $height_slider; 
    width: 100%;
}

.slider-image{
	width:100%;
	min-height: $height_slider;
	background-size: cover;
}

.owl-dots{
	position: absolute;
    top: 88%;
    left: 38vw;
}