
/* ----------- About us ------- */
#about_us {
    background-color: #de5d5a;
}

/* ----------- Let's keep in touch ------- */
#keep_in_touch input {
    background-color: #de5d5a;
}

#keep_in_touch .col-md-6:first-child,
#keep_in_touch .col-md-6:nth-child(2) {
    background-color: #de5d5a;
    margin-top: -2px;
}
